<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tip calculator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A3D11901C7FCE75007119C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D11CC1C7FCF62007119C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D11E31C7FCFDE007119C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A63D0F91C5168FB008A7BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE6244A1C7FC94E00C3B132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE624561C7FC94F00C3B132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
